fastapi
uvicorn[standard]
python-multipart
pydantic

streamlit
requests
streamlit-audiorecorder

torch
torchaudio

transformers
huggingface_hub
accelerate

numpy<2
soundfile
pydub
scikit-learn
pandas
tqdm
